* {
 padding: 0;
 margin: 0;
}

body {
 margin: 0 100px 0 100px;
}

.lato {
 font-family: "Lato", sans-serif;
}

.roboto {
 font-family: "Roboto", sans-serif;
}

.bold {
 font-weight: bold;
}

#main {
 z-index: 0;
 position: absolute;
 top: 340px;
}
#nav {
 z-index: 2000;
}
/* HEADER */

header {
}

.header--logo {
 text-align: center;
}
.fa-fire-burner {
 color: #ed6454;
}
.header--title {
 font-size: 36px;
 font-style: normal;
 font-weight: 700;
 line-height: 47px;
 letter-spacing: 0em;
 text-align: center;
 color: #d04f4f;
}

/* NAV */

/* BARRE DE RECHERCHE */
.barre-de-recherche {
 display: flex;
}

.barre-de-recherche--input {
 height: 70px;
 width: 100%;
 font-size: 18px;
 text-indent: 10px;
 border: none;
 border-radius: 5px;
 background: #e7e7e7;
 margin: 20px 0;
}

.barre-de-recherche--input::placeholder {
 color: #000000;
 font-size: 18px;
 margin-left: 20px;
 text-indent: 10px;
}

/* FILTRE */
.liste-findArticles {
 list-style: none;
 display: flex;
}

.liste-findArticles li {
 display: flex;
 border: none;
 margin: 10px 10px 10px 0;
 border-radius: 5px;
 color: #fff;
 font-size: 16px;
 height: 30px;
}

.ingredientItem {
 background: #3282f7;
 text-indent: 10px;
 margin-bottom: 5px;
 margin-top: 5px;
}
.appareilItem {
 background: #68d9a4;
 text-indent: 10px;
 margin-bottom: 5px;
 margin-top: 5px;
}
.ustensilItem {
 background: #ed6454;
 text-indent: 10px;
 margin-bottom: 5px;
 margin-top: 5px;
}
.filtre {
 display: flex;
 column-gap: 2%;
}

.filtre-container--input {
 display: flex;
 position: relative;
}

.fa-angle-down {
 color: #fff;
 margin-top: 50%;
 transition-duration: 0.5s;
}

#ingredient-arrow {
 background: #3282f7;
}

#appareil-arrow {
 background: #68d9a4;
}

#ustensil-arrow {
 background: #ed6454;
}

.input--filtre {
 font-size: 20px;
 height: 75px;
 border: none;
 border-radius: 5px 0 0 5px;
 color: #fff;
}

.input--filtre::placeholder {
 color: #fff;
}

.arrow-input {
 width: 50px;
 border-radius: 0 5px 5px 0;
 text-align: center;
}

#ingredients {
 background: #3282f7;
 width: 100%;
}

#appareils {
 background: #68d9a4;
 width: 100%;
}

#ustensils {
 background: #ed6454;
 width: 100%;
}

.filtre-container {
 position: relative;
 z-index: 1;
}

.filtre-liste {
 list-style: none;
 display: none;
 border-radius: 0 0 5px 5px;
 grid-template-columns: auto auto auto;
 color: #fff;
 width: 100%;
}
#filtre-liste-ingredients {
 background: #3282f7;
}
#filtre-liste-appareils {
 background: #68d9a4;
}
#filtre-liste-ustensils {
 background: #ed6454;
}

/* BODY */

.recipes_container {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 margin-top: 30px;
 margin-right: 100px;
 gap: 90px;
}

.recipes_cards {
 display: flex;
 flex-direction: column;
 min-height: 400px;
 width: 100%;
}

.recipes_cards--image {
 height: 50%;
 background: #c7bebe;
 border-radius: 3px;
 border-radius: 5px 5px 0 0;
}
.recipes_cards--description {
 display: flex;
 height: 35%;
 background: #e7e7e7;
 border-radius: 0 0 5px 5px;
 font-size: 14px;
}
.--description__ingredients {
 margin: 0 0 25px 25px;
 width: 50%;
}
.--description__excplication {
 margin: 0 30px 41px 0;
 width: 50%;
 overflow: hidden;
}

.--description__ingredients--title {
 font-size: 18px;
 height: 15%;
 background: #e7e7e7;
 display: flex;
 justify-content: space-between;
}

.--description__ingredients--name {
 /* margin: 30px 0 30px 30px; */
}
.--description__excplication--timer {
 text-align: center;
 /* margin: 30px 30px 30px 0; */
}

.fa-clock {
 /* margin-right: 10px; */
}

.liste-description {
 list-style: none;
}

/* media query */
@media (max-width: 1524px) {
 .recipes_container {
  column-gap: 40px;
  row-gap: 40px;
 }
 .recipes_cards {
  height: 350px;
 }
 .recipes_cards--description {
  height: 35%;
  font-size: 13px;
 }
}

@media (max-width: 1324px) {
 .recipes_container {
  column-gap: 30px;
  row-gap: 30px;
 }
 .recipes_cards {
  height: 200px;
 }
 .recipes_cards--image {
  height: 40%;
 }
 .--description__ingredients {
  margin: 0 0 20px 20px;
 }
 .--description__excplication {
  margin: 0 5px 30px 0;
 }
 .--description__ingredients--title {
  font-size: 14px;
 }
}

@media (max-width: 1124px) {
 body {
  margin: 0 25px 0 25px;
 }
 .recipes_container {
  margin-right: 25px;
 }
 .recipes_container {
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
 }
 .recipes_cards {
  height: 100px;
 }
 .--description__ingredients {
  margin: 0 15px 15px;
 }
 .--description__excplication {
  margin: 0 5px 30px 0;
 }
}

@media (max-width: 768px) {
 body {
  margin: 0 20px 0 20px;
 }
 .filtre {
  flex-direction: column;
  row-gap: 10px;
 }
 .recipes_container {
  margin-top: 150px;
  margin-right: 20px;
 }
 .recipes_container {
  grid-template-columns: 1fr;
 }
 .recipes_cards {
  height: 100px;
 }
 .recipes_cards--description {
  height: 35%;
  font-size: 16px;
 }
 .--description__ingredients--title {
  font-size: 14px;
 }
}
